@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Handlee&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@300;400;600;700&family=Plus+Jakarta+Sans:wght@500;800&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

body {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Mukta", sans-serif;
  background-color: hsl(210, 60%, 98%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 40px;
}

.wrapper {
  background-color: var(--White);
  width: 40vw;
  padding: 0.5rem 1.5rem;
  padding-bottom: 0;
  border-radius: 15px;
  box-shadow: 1px 1px 100px 1px rgba(0, 0, 0, 0.103);
}

.navBar {
  /* width: 40vw; */
  margin: 0 auto;
}

.navBar__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.35rem;
  list-style-type: none;
}

.navBar__first__element {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.5rem;
  font-weight: 800;
}

.info__counter {
  padding: 0 0.7rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  background-color: var(--Blue);
  color: var(--White);
}

.navBar__second__element {
  font-size: 1.1rem;
  color: hsl(219, 12%, 42%);
}

.contentWrapper {
  /* width: 40vw; */
  /* margin: 0 auto; */
}

a {
  font-weight: 800;
  text-decoration: none;
  color: var(--Blue);
}

.notif__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  /* margin: 2rem 0; */
  padding: 0.7rem;
  border: 0.3rem solid var(--White);
  border-radius: 20px;
  font-size: 1rem;
}

.notif__content {
  display: flex;
  flex-direction: column;
  gap: 0.2;
  width: 100%;
}
.notif__name {
  font-weight: 800;
}

.notif__highlight {
  color: var(--Dark-grayish-blue);
}

.notif__bold {
  color: var(--Dark-grayish-blue);
  font-weight: 800;
}

.notif__minutes {
  color: var(--Grayish-blue);
}

.notif__bold__content {
  color: var(--Dark-grayish-blue);
  border: 0.5px solid var(--Grayish-blue);
  padding: 1rem;
  margin: 0.5rem 0 0 0;
  border-radius: 5px;
  /* margin: 1rem 1rem 1rem 0; */
}

.unread {
  background-color: var(--Very-light-grayish-blue);
}
.unread .dot {
  width: 8px;
  height: 8px;
  border-radius: 64px;
  background-color: var(--Red);
  display: inline-block;
}
